
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 95vh;
  font-family: "Garamond", serif;
  color: #1D2C33;

  background-color: #DCDDD7; 
  background-image: url("../images/websitebackground.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain; 
}

nav a:hover {
  color: #1D2C33; 
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 4rem;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  max-width: 700px;
  margin: 10px auto;
  font-size: 1.2rem;
  padding: 0 20px;
}


.social-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.social-buttons a {
  text-decoration: none;
  font-size:3rem;          
  color: #5D8292;           
  padding: 18px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-buttons a:hover {
  color: #1D2C33;           
}

