
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Garamond", serif;
  color: #1d2c33;
  background-color: #dcddd7;

  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: .1px;
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 33px;
  margin-bottom: 30px;
  font-weight: 100;
  letter-spacing: .5px;

}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-buttons a {
  text-decoration: none;
  font-size: 3rem;
  color: #5d8292;
  padding: 18px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-buttons a:hover {
  color: #1d2c33;
}

.image {
  margin-top: auto; 
  width: 100%;
}

.image img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}


@media (max-width: 700px) {
  h1 {
    margin-top: 200px;
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.1rem;
  }

  .social-buttons {
    gap: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .social-buttons a {
    font-size: 2.4rem;
    padding: 12px;
  }
}
